body {
    font-family: 'Roboto', sans-serif;
    color: #424242;
}
a, a:hover {
  color: inherit;
}

.h1 {
  font-size: 23px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin:0;
  border-bottom: 1px dotted #b7b2ca;
}

.h1-2 {
  margin: 0;
  font-size: 11px;
  font-weight: 100;
  color: #1a17b8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: delay-animation 5s;
}

.header-name {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:flex-start;
}

.navbar {
  border-bottom: 5px solid #dbdbdb;
  background: white;
}
.navbar-brand {
  margin: 0px 10px;
}
.navbar.dash_layout {
  position:relative !important;
}

.list-item-drawbar {
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color:#c9c9c9;

}


nav .nav-link {
  color: #17a2b8;
  font-weight: bold;
}

.drawer_btn {
  color: #0062cc;
  cursor: pointer;
  margin-right: 10px;
}

.app_container {
  margin-top: 80px;
}

.root_loader {
  text-align: center;
  margin-top: 100px;
}

.fredoka_ff {
  font-family: Fredoka One;
}

.not_verified {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    text-align: center;
    background: rgb(228, 91, 91);
    color: white;
}

/*============ Carrousel ==============*/

.carrousel_avatar {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: 500px;
}

.carrousel_avatar div {
  position: absolute;
  width: 100%;
  height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}


/*/////////////  ARTICLE /////////*/
          

.article_container h1 {
  font-weight: 900;
  font-size: 25px;
  margin-top: 30px;
}
  
.article_container {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}

  .article_container .image{
    /* background-size:cover !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 400px; */
    background-repeat: no-repeat !important;
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    background-position: center !important;
    background-size:contain !important;
  }


  .intro-description {
    padding:30px;
  }

  .image-intro {
    background-repeat: no-repeat !important;
    width: 100%;
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    background-position: center !important;
    background-size:contain !important;
  }



@media (max-width: 800px) {
  .article_container .image{
    height: 300px;
  }
 
}


/*/////////////  Scorecard /////////*/

.scorecard {
  width: 100%;
  background-color: #eeeeee;
  color: #363636;
  margin-top: 50px;
}

.scorecard .rating .MuiListItemText-secondary{
  font-size:50px;
}
.scorecard .MuiAvatar-colorDefault {
  background-color: #efefef;
}

.scorecard .chip {
  margin: 5px 10px 5px 0px;
}
.scorecard .MuiSvgIcon-root {
color: #525252;
}

/*/////////////  auth /////////*/

.auth_container { 
  width: 250px;
  margin: 0 auto;
}

.auth_container h1 {
  text-align: center;
}
.auth_container button {
  width: 100%;
}

@media (max-width: 800px) {
  .auth_container {
    width: 100%;
  } 
}

/*////////// dashboard /////////*/

.adminLayout {
  height:100vh;
}

/* .ownstyle1 {
  min-width: 900px;
} */

.app_container.dash_layout {
  margin-top: 0px;
  margin-bottom: 0px !important;
  max-width: 100%;
  padding:0;
}

.dash_layout nav{ 
  background: #212121;
  padding: 0px;
  border-right: 10px solid #565656;

}

.dash_layout .MuiList-root {
  color: #fff;
}

.dash_layout .MuiButtonBase-root {
  border-bottom: 1px solid #313131;
}

/*///// forms /////////////*/

.chip_container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.chip_container .MuiChip-root {
  margin-left: 10px;
}

.rdw-editor-toolbar {
  margin-bottom: 0;
}
.rdw-editor-main {
  border: 1px solid #F1F1F1;
  padding: 10px;
}

.actors_form {
  border: 1px solid #c9c9c9;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
}

.actors_form .input {
  margin-left: 10px;
  flex: 1;
}

.actors_form .MuiButtonBase-root {
  border-bottom:0px
}
.article_form {
  padding-bottom: 50px;
}
.article_form .MuiSelect-root {
  min-width: 200px;
}

.stepper_form {
  text-align: center;
}

.auth_grid input {
  font-size: 20px;
}

.form-group {
margin-top: 20px;
}

.rdw-editor-toolbar,
.rdw-editor-main {
  border-color: rgba(0, 0, 0, 0.23);
}

.demo-wrapper.error .rdw-editor-main {
  border-color: red;
}

/*///// DASHBOARD TABLE /////////////*/

.articles_table .action_btn{
  width: 100px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.articles_table .remove_btn {
  background: #dc3545;
  color: white !important;
}
.articles_table .remove_btn:hover {
  background: #ee7782;
  color: white !important;
}

.articles_table .edit_btn{ 
  background: #117a8b;
  color: white !important;
}
.articles_table .edit_btn:hover{ 
  background: #3d99a8;
  color: white !important;
}

.articles_table .status_btn {
  background: #ffc107;
  color: white !important;
}
.articles_table .status_btn:hover{ 
  background: #ffd24c;
  color: white !important;
}

/* picture upload */
.pic_block {
  width: 200px;
  height: 200px;
  margin: 3px;
  background-size: cover !important;
  display:inline-block;
  box-shadow: 5px 5px 5px #999;
  border-radius: 5%;
}

/* own class */
.listing-info-container{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
  
}

.list-prop-name{
  text-shadow: 1px 1px #333;
  text-align: center;
}

.listing-info-container .listing-info-container-1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  align-content:flex-start;
}

.listing-info-container .listing-info-container-2 {
  width: 100%;
  padding:10px;
  margin:10px;
  text-align:left;
  border: 0.5px dotted grey;
  font-weight: 400;
  font-size: 16px;

}
.listing-items{
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.listing-info-container .contact-icon {
  font-weight: 700;
  text-decoration: none;
}

.contact-icon-1 {
  font-weight: 700;
  text-decoration: none;
}

.list-card-items {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}


.list-card-items-children{
  padding: 1px;
  font-size: 15px;
  font-weight: 400;
}

.carousel-style {
  width: 100vw;
  min-width: 30vw;
  background-color:transparent;
  border: none;
}

.address {
  font-size: 13px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.agent-details {
  display: flex;  
  justify-content:space-between;
  align-items: center;

}

.agent-particulars > * {
  font-size: 15px;
  font-weight: 350;
  text-align:left;
}
  

.agent_pic {
  width: 150px;
  height: 170px;
  margin-left:300px;
  border-radius: 10%;
  box-shadow: 3px 3px 3px #999;
}

.contact-icon-contact {
  color:green;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.ownstyle {
  min-width: 100vw;
  position: relative;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.owner-upload{
  margin-top: -10px;
  margin-left: 5%;
  padding: 10px;
  font-size: 15px;  
  font-weight: 400;
  text-align:left;

}

.register-as-user {
  color: blue;
  font-weight: 600;
}

.rentbase-logo {
  font-size: 30px;
  padding: 3px;
  border: 1px solid rgb(112, 109, 109);
  box-shadow: 3px 3px 3px #999;
  border-radius: 15%;
  margin-top: 20px;
  transition: transform 0.5s;
}

.rentbase-logo:hover {
  box-shadow: 5px 5px 5px #999;
  transform: translate(1px,1px);
}

.footer {
  width: 100%;
  height: 3rem;
  background-color: #e6e9eb;
  display: flex;
  align-items:center;
  /* justify-content:space-between; */
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}


.copyright {
  padding-top:2px;
  font-size: 15px;
  font-weight: 500;
  margin:0
}

.data-protect-text{
  font-size: 15px;
  color: #17a2b8;
}

.verify-reminder {
  font-size: 20px;
  font-style: italic;
  color: gray;
}

.announce-icon {
  color: pink;
}

.smile-face {
  color: rgb(4, 237, 66);
}

.disclaimer {
  text-align:left;
}

.use-policy {
  text-align:left;
}

.policy {
 margin-left: 5px;
 margin-top:-4px;
 padding-top:2px;
 text-decoration: none;
 font-size: 14px;
 font-weight: 300;
}

.about-us-description {
  font-size: 15px;
  font-style: italic;
}

.home-container {
  position:relative;
}

.header-owner-upload{
  position: absolute;
  margin-top: -20px;
  background: #f7941d;
  border-radius: 3rem;
  padding: 3px;
  text-decoration: none;
  color: white !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.header-owner-upload:hover {
  box-shadow: 6px 6px 8px rgba(23, 22, 22, 0.2);
}


@keyframes delay-animation {
  0% {
    opacity: 0; /* start with the component hidden */
  }
  100% {
    opacity: 1; /* show the component after 3 seconds */
  }
}

.social-icons{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-bottom: 60px;
  animation: delay-animation 5s;

}



.follow-us-text {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.load-more {
  animation: delay-animation 3s;
}

.card-address{
  font-size: 10px;

}

/* .articles_table .table-striped>tbody>tr:nth-of-type(odd)>* {
  color: white;
} */

/* @media (max-width: 800px) {

  .ownstyle {
    width: 100%;
  }
} */
 @media (max-width: 600px) {
  .list-card-items {
    align-items:center;
  }


  .agent-details {
    flex-direction: column;
  }

  .team-pro{
    display: none;
  }

  .agent_pic {
    margin-left:-170px;
  }

  .view_property_css {
    align-items:center;
  }

  .listing-info-container .listing-info-container-1 {
    align-items:center;
    align-content:center;
  }

  .agent-particulars > * {
    font-size: 14px;
  }

  
 }


 


 @media (max-width: 500px) {
  .copyright {
    font-size: 12px;
  }

  .policy {
    font-size: 12px;
  }

  .pic_block {
    width: 150px;
    height: 150px;
  }

  .image-intro {
    height: 250px;
  }

  .about-us-description {
    font-size: 13px;
  }

  .data-protect-text{
    font-size: 12px;
  }
 }

 

 @media (max-width : 450px) {
  .h1 {
    font-size: 18px;
  }
  
  .h1-2 {
    font-size: 10px;
  }
  
  .owner-upload{
    font-size: 15px;
    font-weight: 400;
    text-align:left;
  
  }

  .listing-items{
    font-size: 16px;
  }
  
  .rentbase-logo {
    font-size: 20px;
  }

  .copyright {
    font-size: 12px;
  }
 }

 @media (max-width :900px) {
  .footer-msg{
    font-size: 9px;
  }
  .footer {
    justify-content: center;
  }

  .image-intro {
    height: 300px;
  }
 }

 @media (max-width: 1200px){
  .listing-info-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
  }

  .listing-info-container .listing-info-container-1 {
    width: 100%;
  }

  .footer-msg{
    font-size: 10px;
  }
  .footer {
    justify-content: center;
    text-align: justify;
  }

  .listing-info-container .listing-info-container-1 {
    align-items:center;
    align-content:center;
  }

 }